<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>SageGoddess</h1>
    <img src="assets/logo/sg-admin-logo.webp" width="250" height="150">
    <p><a target="_blank" rel="noopener noreferrer" href="https://www.sagegoddess.com">Healing Crystals, Spiritual Tools, and Teachings.</a></p>
  </div>
</ion-content>
